.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transition: 0.3s ease-in-out;
    z-index: 9000;
    padding: 20px;
}

.modal.active {
    opacity: 10;
    pointer-events: auto;
}

.modal-content {
    background: #ffffff;
    padding: 25px 30px;
    width: clamp(240px, 80%, 380px);
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
    animation: pop 0.3s ease-out;
    
    max-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@keyframes pop {
    0% { transform: scale(0.7); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

.modal-icon {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.modal-title {
    margin: 0;
    margin-top: 10px;
    font-size: 32px;
    font-weight: 700;
}

.modal-subtitle {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    color: #666666;
}

.modal-message {
    font-size: clamp(14px, 2.5vw, 17px);
    color: #333;
    margin-top: 10px;
}

.modal-detail {
    background: #f5f5f5;
    border-radius: 5px;
    padding: 12px;
    margin: 10px 0 18px 0;
    font-size: 14px;
    color: #444;
    text-align: left;
    max-height: 120px;
    overflow-y: auto;
}

.modal-btn {
    padding: 10px 20px;
    background: #32033e;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.modal-btn:hover {
    opacity: 0.9;
}